<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.taigaprozz">

    <application
        android:allowBackup="true"
        android:banner="@drawable/wallpaper_main"
        android:icon="@mipmap/ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.KanjiKana.Main.Theme.Light">
        <activity android:name=".kanjikana.account.RegisterActivity" />
        <activity android:name=".kanjikana.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kanjikana.main.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".kanjikana.quiz.HelpQuiz" />
        <activity android:name=".kanjikana.quiz.SettingsQuiz" />
        <activity android:name=".kanjikana.kana.KanaAdapter" />
        <activity android:name=".kanjikana.kana.KatakanaActivity" />
        <activity android:name=".kanjikana.kana.HiraganaActivity" />
        <activity android:name=".kanjikana.quiz.Quiz" />
        <activity android:name=".kanjikana.main.MainActivity">
        </activity>
    </application>

</manifest>